@font-face {
    font-family: gotham-bold;
    src: url(../assets/gotham-bold.ttf);
}

@font-face {
    font-family: arial-rounded-mt-bold;
    src: url(../assets/arial-rounded-mt-bold.ttf);
}


body {
	font-family: gotham-bold;
	background-color: #F0f0f0;
}

div.heading{
	height:60px;
	width:100%;
	text-align: center;
	vertical-align: middle !important;
	background-color: white;
	position: relative;
	box-shadow: 0 0 5px 3px #d2d2d2;
}

div.heading span {
	color:#615d8f;
	font-size: 24px;
	vertical-align: middle;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	not supported by any browser */
}

div.container-body {
	width:100%;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    margin: 0;
 }

div.preferences {
	top: 90px;
	height:auto;
	width:400px;
	text-align: left;
	position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/dog.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #5d658f;
    font-size: 20px;
}

div.main-form {
	top: 150px;
	height:auto;
	min-height: 200px;
	width:325px;
	text-align: center;
	vertical-align: middle;
	position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

div.options {
	font-family: arial-rounded-mt-bold;
	color: black;
	font-size: 17px;
}

div.input-group {
	padding: 0 0 20px 0;
}

div.form-inline {
	padding: 5px 5px 5px 5px;
}

div.form-group {
	padding: 5px 5px 5px 5px;
}

* {
  border-radius: 0 !important;
}

input.form-control {
	border: none;
	box-shadow: 2px 2px 2px 0 #d2d2d2;

}

.btn {
	background-color: #615d8f;
	border: none;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
}

.input-group-addon {
	color: white;
	background-color: #a8a3c2;
	font-size: 17px;
}

.length {
	width: 100px;
	text-align: center;
	color: #5d658f;
}

.custom-checkbox .custom-control-indicator {
  border-radius: 0.5rem !important;
  background-color: white;
  border: 1px solid #c4c4c4;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("../assets/checked.png");
  background-size: 100%;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator {
  background-color: #615d8f;
}

.custom-control-indicator {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #615d8f;
          box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #615d8f;
}

.custom-control-input:active ~ .custom-control-indicator {
  background-color: #a8a3c2;
}